.characterItem_container {
  border: 2px solid #030303;
  background-color: #f4b966;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;
}