@import './core/reset';
@import './core/variables';

.header {
    background-color: $orange-color;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    font-family: $font-family;

    &__title {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        max-width: 80%;
    }

    &__image {
        width: 20%;
    }
    
}